<style> table, table th, table td { border: 1px solid; border-collapse: collapse; } </style>
<p>Xin chào {Fullname} ,</p>

<p>Danh sách các kiến nghị kiểm toán chưa hoàn thành, kèm theo bảng như sau:  </p>

<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">Nội dung phát hiện </th>
                <th class="text-center" scope="col">Kiến nghị kiểm toán</th>
                <th class="text-center" scope="col">Người chịu trách nhiệm</th>
                <th class="text-center" scope="col">Đơn vị phối hợp</th>
                <th class="text-center" scope="col">Thời hạn hoàn thành</th>
            </tr>
        </thead>
        <tbody>{tbody}</tbody>
    </table>
</div>
<p>Chào thân ái.</p>
